body {
    background-color: #E5E9F2;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #33475B;
    border-bottom: 1px solid #2C3E50;
}

.navbar-brand {
    font-weight: bold;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
    margin-right: 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-item {
    color: #FFFFFF;
}

.card {
    border: 1px solid #C1C8D6;
    background-color: #F7F7F7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    color: #22303C;
}

.card-text {
    color: #555555;
}

.job-link {
    text-decoration: none;
    color: #22303C;
}

.job-link:hover {
    text-decoration: underline;
}

.forgot-pass a {
    text-decoration: none;
}

.footer {
    background-color: #33475B;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #2C3E50;
}
