{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Dashboard</h2>

    <!-- Job Applications Section -->
    <div class="card mb-4">
        <div class="card-body">
            <h3>Your Job Applications</h3>

            <!-- Check if there are any applications -->
            {% if user_applications %}
                <ul class="list-unstyled">
                    {% for application in user_applications %}
                    <li class="d-flex align-items-center justify-content-between">
                        <div class="me-auto">
                            <a href="{% url 'job_detail' slug=application.job.slug %}" class="dash-job-link">
                                {{ application.job.title }}
                            </a>
                        </div>

                        <div class="d-flex align-items-center">
                            {% if application.status == 'accepted' %}
                                <i class="fas fa-check-circle text-success me-2"></i>
                            {% elif application.status == 'rejected' %}
                                <i class="fas fa-times-circle text-danger me-2"></i>
                            {% elif application.status == 'under_review' %}
                                <i class="fas fa-hourglass-half text-warning me-2"></i>
                            {% else %}
                                <i class="fas fa-question-circle text-muted me-2"></i>
                            {% endif %}

                            <a href="{% url 'view_application' application.id %}" class="btn btn-sm btn-primary btn-dash me-2">View</a>
                            <a href="{% url 'withdraw_application' application.id %}" class="btn btn-sm btn-danger btn-dash">Withdraw</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
            
                <!-- Message for no applications -->
                <p>You don't have any job applications yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}