{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Dashboard</h2>
    <!-- Job Posts Section -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Your Job Posts</h3>
                <a href="{% url 'create_job' %}" class="btn btn-primary">Post a New Job</a>
            </div>
            <ul class="list-unstyled">
                {% for job in user_jobs %}
                <li class="d-flex align-items-center">
                    <a href="#" class="dash-job-link me-auto">{{ job.title }}</a><span>{{ job.status }}</span>   
                    <a href="#" class="btn btn-sm btn-warning mx-2 btn-dash">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger btn-dash">Remove</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Applications Section -->
    <div class="card">
        <div class="card-body">
            <h3>Job Applications</h3>
            <ul class="list-unstyled">
                {% for application in job_applications %}
                <li class="d-flex align-items-center justify-content-between">
                    <div class="me-auto">
                        {{ application.applicant.username }} applied for - <a href="#">{{ application.job.title }}</a>
                    </div>
                    <div>
                        <a href="{% url 'view_application_employer' application.id %}" class="btn btn-sm btn-primary mx-2 btn-dash">View</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
