{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Dashboard</h2>

    <!-- Job Applications Section -->
    <div class="card mb-4">
        <div class="card-body">
            <h3>Your Job Applications</h3>
            <ul class="list-unstyled">
                {% for application in user_applications %}
                <li class="d-flex align-items-center">
                    <a href="{% url 'job_detail' slug=application.job.slug %}" class="dash-job-link me-auto">
                        {{ application.job.title }}
                    </a>
                    <a href="{% url 'view_application' application.id %}" class="btn btn-sm btn-primary mx-2 btn-dash">View</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}