{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Application for {{ application.job.title }} -
        {% if application.status == 'under_review' %}
            <span>Under Review</span>
        {% elif application.status == 'accepted' %}
            <span class="text-success">Accepted</span>
            <p class="text-success">You have been accepted! The employer will contact you soon.</p>
        {% elif application.status == 'rejected' %}
            <span class="text-danger">Rejected</span>
            <p class="text-danger">Unfortunately, we have moved forward with another candidate.</p>
        {% else %}
            <span class="text-muted">Unknown Status</span>
        {% endif %}
    </h2>
    <hr>
    <p><strong>Full Name:</strong> {{ application.full_name }}</p>
    <p><strong>Email:</strong> {{ application.email }}</p>
    <p><strong>Phone:</strong> {{ application.phone }}</p>
    <p><strong>Address:</strong> {{ application.address }}</p>
    <p><strong>Short Description:</strong></p>
    <p>{{ application.short_description }}</p>
    <p><strong>Last 5 Jobs Experience:</strong></p>
    <p>{{ application.last_jobs }}</p>
    <p><strong>Cover Letter:</strong></p>
    <p>{{ application.cover_letter }}</p>
    <p class="mb-5"><strong>Applied on:</strong> {{ application.applied_at }}</p>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mb-5">Cancel</a>
</div>
{% endblock %}